.fx-row {
    display: flex;
    flex-direction: row;
}
.fx-col{
    display: flex;
    flex-direction: column;
}
.fx-cntr{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* background-color: #1d2731; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* color: #84fcc4 */
}

.container {
    border: 5px solid #ffbb39;
    border-radius: 10px;

    padding: 1.5%;
    margin-left: 25%;
    margin-right: 25%;
}

.title-area{
    width: 100%;
    padding-bottom: 1rem;
}

h1, h4, h5{
    margin: 0;
}
h3, h5{
    margin-top: 0;
}

.weight, .drinking-time{
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.drinks-title{
    padding-top: 0.5rem;
}

.weight-display, .time-display{
    width: 40%;
    justify-content: space-around;
}

.btn-crease{
    width: 45%;
    justify-content: space-between;
}

.btn-sign{
    width: 3rem;
    height: 2rem;
    font-size: medium;
    font-weight: 500;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
}

.drink-rows{
    border: 2px solid #ffbb39;
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 5px;
}

.drink-item{
    /* border: 1px solid magenta; */
    justify-content: space-between;
    padding-top: 0.2em;
}

.added-drinks-title{
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

.btn-remove{
    width: 1.8rem;
    height: 1.5rem;
    font-weight: 700;
    border: 2px solid rgb(44, 44, 44);
    border-radius: 5px;
}

.drinks-area{
    /* border: 1px solid black; */
    width: 250px;
    justify-content: space-between;
}

.quantity-input{
    height: 100px;
    width: 150px;
    border: 0;
    justify-content: space-between;
}

#btn-add-drink{
    height: 100%;
    width: 100px;
    border-radius: 10px;
    border: 0;
    background-color: #ffbb39;
    margin-bottom: 0.5rem;
    font-size: 50px;
}

span{
    font-weight: 600;
    font-size: 15px;
}

input{
    width: 120px;
    height: 22px;
    border-radius: 7px;
}

.btn-calc{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#btn-calc-final{
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: bolder;
}

.uncolored{
    margin-right: 0.5rem;
}

.colored-result{
    margin: 1rem;
    border: 1px solid #ffbb39;
    font-weight: bold;
    padding-left: 0.2rem;
}

.colored-male{
    border: 2px solid blue;
    padding-right: 1rem;
    padding-left: 0.5rem;
    background-color: blue;
    color: white;
}

.colored-female{
    border: 2px solid palevioletred;
    padding-right: 1rem;
    padding-left: 0.5rem;
    background-color: palevioletred;
    color: black;
}


