body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input {
    margin-bottom: 10px;
    padding: 5px;
  }

  .list-input {
    width: 75px;
  }
  button {
    padding: 5px 10px;
  }
  #result,
  #prime-list {
    margin-top: 10px;
  }